/********************************** SMALL VIEWPORT AND GENERAL *********************************/
body {
  font-size: 1.1rem;
}

section#home {
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin: 4vh 3vw 0 3vw;
}

#about,
#projects,
#contact {
  margin: 10vh 7vw;
}

#about {
  position: relative;
}

#contact {
  position: relative;
}

#footer {
  margin: 7vh 7vw 0 7vw;
  text-align: center;
}

h1 {
  font-size: 20vw;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}

h6.role {
  margin-top: 0;
  text-align: center;
  font-size: 1rem;
}

ul.menu {
  list-style-type: none;
  text-align: center;
  margin: 0;
  margin-top: 5rem;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 1rem;
  font-size: 1.05rem;
}

ul.menu li a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

.photo-area {
  position: relative;
}

img.profile-photo {
  width: 6rem;
}

.social-icons-profile {
  position: absolute;
  bottom: 4%;
  left: 37%;
  width: 17%;
  height: auto;
  text-align: center;
}

div.social-icons-profile i {
  margin: 6%;
}

.quotes {
  width: 9vw;
  margin: 1rem;
}

.skill-icon {
  width: 17vw;
  margin: 2%;
}

.skill-stacks {
  text-align: center;
  margin-top: 15vh;
}

.project-set {
  border: solid black;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 5vh;
}

.project-img {
  width: 100%;
}

label {
  margin-right: 1vw;
}

input {
  margin: 1vh 0 2vh 0;
  padding: 1vw 0 1vw 1vw;
  max-width: 15rem;
}

textarea {
  max-width: 100%;
  margin-top: 1vh;
}

button.submit-form {
  display: block;
}

.copyright {
  margin-top: 3vh;
}

.modal {
  visibility: hidden;
  border: solid aqua;
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 50vh;
  height: 50vh;
  background-color: aqua;
  padding: 2rem;
  text-align: center;
  line-height: 5vh;
  border-radius: 50%;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-text {
  margin-top: 4rem;
}

#footer p {
  font-size: 1vw;
}

#footer i {
  margin: 0.6%;
}

p.closing-bracket,
h2 span {
  font-size: 3rem;
  font-weight: bolder;
  margin-left: 1rem;
}

/*************************************** SMALL VIEWPORT **************************************/
@media screen and (max-width: 767px) {
  .photo-area,
  .profile-photo {
    display: block;
    margin: 3rem auto 1rem auto;
    padding-bottom: 0.5rem;
  }

  img.profile-photo {
    width: 7rem;
  }

  .quotes {
    float: left;
  }

  .about-statement-p {
    padding-top: 3rem;
  }

  .social-icons-profile {
    left: 41%;
    width: 20%;
  }

  div.social-icons-profile i {
    margin: 8%;
  }

  .modal {
    left: 15%;
  }
}

/*************************************** MEDIUM VIEWPORT **************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .social-icons-profile {
    bottom: 0;
    left: 33%;
    width: 30%;
  }

  div.social-icons-profile i {
    margin: 8%;
  }
  .about-statement {
    position: relative;
    bottom: 10rem;
    left: 18rem;
  }
}

/************************************ MEDIUM AND LARGE VIEWPORT***********************************/

@media screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  section#home {
    position: relative;
  }

  #about,
  #projects,
  #contact {
    margin-bottom: 15vh;
    margin-top: 15vh;
  }

  h1 {
    font-size: 9vw;
    letter-spacing: 0.1rem;
    display: inline-block;
    position: relative;
    top: 50%;
  }

  span.lastName {
    padding-left: 14rem;
  }

  h6.role {
    margin-top: 0;
    display: inline-block;
    position: relative;
    top: 2rem;
    right: 7rem;
  }

  div.menu-box {
    display: inline-block;
    height: 21vw;
    position: relative;
    top: 2.5rem;
    transform: rotate(-25deg);
    border-left: solid black 0.4rem;
  }

  ul.menu {
    margin: 0;
    transform: rotate(25deg);
    position: absolute;
    top: 21%;
    text-align: left;
  }

  .menu li {
    display: list-item;
    margin-bottom: 25%;
    font-size: 1.4rem;
  }

  li.menu-item-2 {
    padding-left: 1.8rem;
  }

  li.menu-item-3 {
    padding-left: 3.7rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .photo-area {
    display: inline-block;
  }

  img.profile-photo {
    width: 13rem;
    margin: 3.5vw;
    margin-right: 6vw;
  }

  .about-statement {
    display: inline-block;
    width: 35rem;
  }

  .quotes {
    width: 5.5rem;
  }

  .about-statement-p {
    margin-left: 7rem;
  }

  .skill-icon {
    width: 7rem;
  }

  .project-inner-case {
    display: flex;
  }

  .project-img {
    width: 35%;
  }

  .project-description {
    flex: 33.33%;
    padding-left: 1rem;
    line-height: 1.3;
  }
}
