/********************************** SMALL VIEWPORT AND GENERAL *********************************/
body {
  font-size: 1.1rem;
  font-family: "Bree Serif", serif;
  color: #444444;
}

section#home {
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin: 4vh 3vw 0 3vw;
}

#about,
#projects,
#contact {
  margin: 10vh 7vw;
}

#about {
  position: relative;
}

#contact {
  position: relative;
}

#footer {
  margin: 7vh 7vw 0 7vw;
  text-align: center;
}

h1 {
  font-size: 20vw;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
  font-family: "Comfortaa", cursive;
  color: #172774;
  letter-spacing: 0.2rem;
}

h6.role {
  margin-top: 0;
  text-align: center;
  font-size: 1rem;
}

ul.menu {
  list-style-type: none;
  text-align: center;
  margin: 0;
  margin-top: 5rem;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 1rem;
  font-size: 1.05rem;
}

ul.menu li a,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  color: #9d84b7;
}

ul.menu li a {
  animation-name: text-focus-in;
  animation-duration: 2.5s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

h2 {
  font-size: 2rem;
}

.project-set h3,
.fab {
  color: #9d84b7;
}

.photo-area {
  position: relative;
}

img.profile-photo {
  width: 6rem;
}

.social-icons-profile {
  position: absolute;
  bottom: 4%;
  left: 37%;
  width: 17%;
  height: auto;
  text-align: center;
}

div.social-icons-profile i {
  margin: 6%;
}

.quotes {
  width: 9vw;
  margin: 1rem;
}

.skill-icon {
  width: 17vw;
  margin: 2%;
}

.skill-stacks {
  text-align: center;
  margin-top: 15vh;
}

.project-set {
  background-image: linear-gradient(
    rgba(178, 249, 252, 0.3),
    rgba(178, 249, 252, 0.3),
    rgba(157, 132, 183, 0.3)
  );
  padding: 1rem 2rem;
  margin-bottom: 6vh;
  border-radius: 20px / 15px;
}

.project-img {
  object-fit: cover;
  width: 378px;
  height: 177px;
  border-radius: 20px / 15px;
  max-width: 100%;
}

.contact-me-img-1 {
  max-width: 30%;
}

button,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Varela Round", sans-serif;
}

/* input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Bree Serif", serif;
} */

label {
  margin-right: 1vw;
}

input {
  margin: 1vh 0 2vh 0;
  padding: 1vw 0 1vw 1vw;
  max-width: 15rem;
  border-radius: 20px / 15px;
  border-color: #a3edf0;
  border-style: double;
}

textarea {
  max-width: 100%;
  margin-top: 1vh;
  padding: 1vw 0 1vw 1vw;
  border-radius: 20px / 15px;
  border-color: #a3edf0;
  border-width: 0.15rem;
}

button.submit-form {
  display: block;
}

.copyright {
  margin-top: 3vh;
}

.modal {
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 37%;
  width: 35vh;
  height: 35vh;
  background-color: #172774;
  padding: 2rem;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
  color: #3cb0fd;
  border: solid 0.5rem rgba(113, 72, 156, 0.7);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-text {
  margin-top: 4rem;
}

#footer p {
  font-size: 1vw;
}

#footer i {
  margin: 0.6%;
}

.closing-bracket {
  font-size: 3rem;
  font-weight: bolder;
  margin-left: 1rem;
  color: #9d84b7;
}

p.closing-bracket {
  font-size: 8rem;
}

button {
  margin: 1rem 1rem 0 0;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  border-style: none;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
  background: #eb92be;
  background-image: -webkit-linear-gradient(top, #eb92be, #3498db);
  background-image: -moz-linear-gradient(top, #eb92be, #3498db);
  background-image: -ms-linear-gradient(top, #eb92be, #3498db);
  background-image: -o-linear-gradient(top, #eb92be, #3498db);
  background-image: linear-gradient(to bottom, #eb92be, #3498db);
}

/*************************************** SMALL VIEWPORT **************************************/
@media screen and (max-width: 767px) {
  .photo-area,
  .profile-photo {
    display: block;
    margin: 3rem auto 1rem auto;
    padding-bottom: 0.5rem;
  }

  img.profile-photo {
    width: 7rem;
  }

  .quotes {
    float: left;
  }

  .about-statement-p {
    padding-top: 2rem;
  }

  .contact-me-img-1 {
    position: absolute;
    top: -2rem;
    right: 0;
  }

  .social-icons-profile {
    left: 41%;
    width: 20%;
  }

  div.social-icons-profile i {
    margin: 8%;
  }

  .modal {
    left: 15%;
  }
}

/*************************************** MEDIUM VIEWPORT **************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .social-icons-profile {
    bottom: 0;
    left: 33%;
    width: 30%;
  }

  div.social-icons-profile i {
    margin: 8%;
  }
  .about-statement {
    position: relative;
    bottom: 10rem;
    left: 18rem;
  }

  form {
    margin: 0;
  }

  .contact-me-img-1 {
    position: absolute;
    right: 0;
  }
}

/************************************ MEDIUM AND LARGE VIEWPORT***********************************/

@media screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  section#home {
    position: relative;
  }

  #about,
  #projects,
  #contact {
    margin-bottom: 15vh;
    margin-top: 15vh;
  }

  h1 {
    font-size: 9vw;
    display: inline-block;
    position: relative;
    top: 50%;
  }

  span.lastName {
    padding-left: 14rem;
  }

  h6.role {
    margin-top: 0;
    display: inline-block;
    position: relative;
    top: 2rem;
    right: 7rem;
  }

  div.menu-box {
    display: inline-block;
    height: 21vw;
    position: relative;
    top: 2.5rem;
    transform: rotate(-25deg);
    border-left: solid #b2f9fc 0.4rem;
    animation-name: border;
    animation-duration: 2s;
  }

  @keyframes border {
    from {
      border-color: white;
    }
    to {
      border-color: #b2f9fc;
    }
  }

  ul.menu {
    margin: 0;
    transform: rotate(25deg);
    position: absolute;
    top: 21%;
    text-align: left;
  }

  .menu li {
    display: list-item;
    margin-bottom: 25%;
    font-size: 1.4rem;
  }

  li.menu-item-2 {
    padding-left: 1.8rem;
  }

  li.menu-item-3 {
    padding-left: 3.7rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .photo-area {
    display: inline-block;
  }

  img.profile-photo {
    width: 13rem;
    margin: 3.5vw;
    margin-right: 6vw;
  }

  .about-statement {
    display: inline-block;
    width: 35rem;
  }

  .quotes {
    width: 7rem;
  }

  .about-statement-p {
    margin-left: 7rem;
  }

  .skill-icon {
    width: 7rem;
  }

  .project-inner-case {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .project-description {
    flex: 33.33%;
    margin-left: 3rem;
    line-height: 1.5;
  }

  form {
    display: inline-block;
  }

  .contact-me-img-1 {
    margin-left: 20%;
  }
}
